$bg-color-gray: #f1f0f0;
$color-gray: #000;

$bg-color-blue: #0084FF;
$color-blue: #fff;

@mixin messenger-bubble() {
  background-color: $bg-color-gray;
  color: $color-gray;
  border-radius: 1.3em;
  display: inline-block;
  padding: 6px 12px;

  min-height: 32px;
  min-width: 50px;
}

.component {
  padding-bottom: 5px;

  .text {
    @include messenger-bubble();
  }

  .typing {
    @include messenger-bubble();
    text-align: center;

    .spinner {
      color: #A9ACAC;

      div {
        width: 10px;
        height: 10px;
      }
    }
  }

  .quickReplies {
    padding-top: 5px;

    button {
      @include messenger-bubble();
      margin-right: 5px;
      opacity: 1;
      min-width: 100px;
      background-color: $bg-color-blue;
      color: $color-blue;

      &:hover {
        background-color: $bg-color-blue;
        opacity: 0.8;
      }
    }
  }
}